* {
    margin: 0;
    box-sizing: border-box;

}
body{
    background-image: none;
}
.page {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}
.cover1 {
    background-color: white;
    width: 50em;
    height: 35em;
    position: absolute;
    border-radius: 1em;
    box-shadow: 0 0.188em 1.550em rgb(156, 156, 156);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 200px;
  
}

.alt div{
    text-align: center;
}
.fbb,.goog{
    width: 100px;
    height: 90%;
    border-radius: 0.25em;
    background-color: black;
    cursor: pointer;
    color: white;

}
.fbb:hover,.goog:hover{
    background-color: white;
    color: black;
}
.empinput{
    width: 65%;
    height: 40px;
    padding-top: 10px;
    margin-top: 5px;
    outline: none;
    border: 2px solid #aaa;
    box-sizing: border-box;
    font-size: large;
    border-radius: 4px;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    
}
input[type=text]:focus{
    border-color: dodgerblue;
    box-shadow: 0 0 8px 0 dodgerblue;
}
.icon1{
    float: right;
    font-size: 50px;
   }